<nav id="main-nav">
    <div id="responsive-nav">
        <div id="responsive-nav-button">
            菜单 <span id="responsive-nav-button-icon"></span>
        </div><!-- responsive-nav-button -->
    </div>
    
    <blc:menu resultVar="menuItems" menuName="Header Nav" />
    <ul th:if="${menuItems}" class="menu clearfix">
        <li th:each="menuItem : ${menuItems}">
            <a th:href="@{${menuItem.url}}" th:class="${menuItemStat.first}? 'home'">
                <span th:utext="${menuItem.label}"></span>
            </a>
            <ul th:if="${menuItem.submenu != null}" class="sub-menu">
                <li th:each="submenuItem : ${menuItem.submenu}">
                    <a th:href="@{${submenuItem.url}}" th:utext="${submenuItem.label}"></a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
