<div class="action-popup change-password">
    <blc:form th:action="@{/changePassword}" method="POST">
        <fieldset>
            <legend>更改密码</legend>
            
            <input type="hidden" name="username" th:value="${username}" />

            <div>
                <input type="password" class="twelve" name="oldPassword" placeholder="当前密码" />
            </div>

            <div>
                <input type="password" class="twelve" name="password" placeholder="新的密码" />
            </div>

            <div>
                <input type="password" class="twelve" name="confirmPassword" placeholder="确认密码" />
            </div>
        </fieldset>
    

        <div class="actions">
            <button class="small button radius dark change-password-confirm">提交</button>
            <a href="#" class="action-popup-cancel">取消</a>
        </div>
    
        <img th:src="@{/img/admin/ajax-loader.gif}" class="ajax-loader" />

        <span class="message submit-error"></span>
    </blc:form>
</div>
