<!DOCTYPE HTML>
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
<head>
    <th:block th:replace="/layout/partials/head"></th:block>
</head>

<body>
    <div id="wrapper">
	    <header th:substituteby="layout/partials/header" />
	    
	    <section id="content">
	       <div class="container">
	       <div class="row">
	       <div class="col-md-12">
	       <div layout:fragment="content" />
	       </div>
	       </div>
	       </div>
	    </section>
	    
	    <th:block layout:fragment="post-content" />
	    
	</div>
    
    <footer th:substituteby="layout/partials/footer" />
</body>
</html>